
  
.blob-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    //height: 100vh;
}

.blob-circle {
    //background: plum;
    //background: linear-gradient(to right, #ff75ff, #f3997e);
    background: linear-gradient(to right, hwb(327 40% 0%), #ff7e7e);
    background: -webkit-linear-gradient(to right, hwb(327 40% 0%), #ff7e7e);
    width: 200px;
    height: 200px;
    border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
    overflow: hidden;
    animation: morph 3s linear infinite;
}

.blob-circle img,
.blob-circle source {
    width: 100%;
    height: 100%;
}

@media all and (min-width: 375px) {
    .blob-circle {
        width: 300px;
        height: 300px;
    }
}
@media all and (min-width: 576px) {
    .blob-circle {
        width: 400px;
        height: 400px;
    }
}
@media all and (min-width: 768px) {
    .blob-circle {
        width: 500px;
        height: 500px;
    }
}
@media all and (min-width: 992px) { 
    .blob-circle {
        width: 600px;
        height: auto;
    }

}
@keyframes morph{
    0%, 100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }
    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }
    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

