/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Domine&family=Merriweather:wght@300&family=Roboto+Mono&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Zilla+Slab&display=swap');


:root {
	--yellow: #FFD54F;
	--warning: #FFC107;
	--lightyellow: #fcf398;
	--lightestpurple: #ebc0fd;
	--lightmagenta: #e75eff;
    --light_primary_color: #FAC213;
    --light_second_color: #F77E21;
    --main-background: #FEF9A7;
    --persian-red: #d1342fff;
    --hard-red: #D61C4E;
    --start-color: #FF4D4D;
    --end-color: #F9CB28;
    --hard-orange: #fd5e1f;
}

.text-hard-red {
    color: #d61c44 !important;
}

.text-hard-orange {
    color: var(--hard-orange) !important;
}
.text-light-yellow {
    color: var(--lightyellow) !important;
}

.bg-light-yellow {
    background: var(--end-color) !important;
}

body {
    background-color: var(--main-background) !important;
    color: black !important;
    font-family: 'Merriweather', serif !important;
}

.section-title-color {
    /*background: linear-gradient(to left, #9d47ff 0%, #e944ff 52%, #ff21b9 100%);*/
    /*background: linear-gradient(to left, #ff5d4b 0%, #ff3787 100%);*/
    background: linear-gradient(to left, #ff3822 0%, hsl(336, 100%, 51%) 100%);
    /*background: linear-gradient(to right, #ff004c 0%, #ffe600 100%);*/
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tmp-bg {
    /*background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);*/
    background: linear-gradient(to right, var(--start-color) 0%, var(--end-color) 100%);
    -webkit-background-clip: text;
    background-clip: textbox;
    -webkit-text-fill-color: transparent;
}


.bg-hard-yellow { background-color: var(--light_primary_color) !important; }


/* ------------------------- FONT ------------------------- */
.font-zilla { font-family: 'Zilla Slab', serif !important; }
.font-montserrat { font-family: 'Montserrat', sans-serif !important; }
.font-roboto-mono { font-family: 'Roboto Mono', monospace !important; }
.font-nunito { font-family: 'Nunito', sans-serif !important; }

/* ------------------------- PRIMARY COLOR ------------------------- */
/* TEXT COLOR */
.text-my-primary { color: var(--light_primary_color); }

/* BACKGROUND COLOR */
.bg-my-primary { background-color: var(--light_primary_color) !important; }

/* BUTTON */
.btn-my-primary,
.btn-my-primary:hover {
    background-color: var(--light_primary_color) !important;
    color: black !important;
    border: 2px solid var(--light_primary_color) !important;
    border-radius: 7px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px !important;
}
.btn-my-primary:hover {
    border-radius: 0px;
    box-shadow:  4px 4px 0px var(--light_second_color), -4px -4px 0px var(--start-color) !important;
}

.btn-my-primary-outline,
.btn-my-primary-outline:hover {
    background-color: transparent !important;
    color: rgb(255, 22, 22) !important;
    border: 2px solid var(--warning) !important;
    border-radius: 10px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px !important;
}
.btn-my-primary-outline:hover {
    border-radius: 0px !important;
    background-color: black;
    box-shadow:  4px 4px 0px #bd4dd1, -4px -4px 0px #ff6fff !important;
}

.btn-my-primary-outline #icon-color{
    background-color: "transparent" !important;
    color: var(--light_primary_color) !important;
}

.btn-my-primary-outline > a {
    text-decoration: none;
    color: var(--light_primary_color) !important;
    font-family: 'Roboto Mono', monospace;
}

.btn-my-primary-outline > a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
}


/* ------------------------- SECONDARY COLOR ------------------------- */
/* TEXT COLOR */
.text-my-secondary { color: var(--light_second_color); }

/* BACKGROUND COLOR */
.bg-my-secondary { background-color: var(--light_second_color) !important; }

/* BUTTON */
.btn-my-secondary,
.btn-my-secondary:hover {
    background-color: var(--light_second_color) !important;
    color: black !important;
    border: 2px solid rgb(0, 0, 0) !important;
    border-radius: 10px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px !important;
    font-weight: bold !important;
}
.btn-my-secondary:hover {
    border-radius: 0px;
    box-shadow:  2px 2px 0px #bd4dd1, -2px -2px 0px #ff6fff;
}

.btn-my-secondary-outline,
.btn-my-secondary-outline:hover {
    background-color: var(--main-background);
    color: var(--light_second_color) !important;
    border: 2px solid var(--light_second_color) !important;
    border-radius: 7px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 14px !important;
    font-weight: bold !important;
}
.btn-my-secondary-outline:hover {
    border-radius: 0px !important;
    box-shadow:  4px 4px 0px #bd4dd1, -4px -4px 0px #ff6fff !important;
}
.btn-my-secondary-outline svg#icon-color {
    background-color: "transparent";
    color: var(--light_second_color) !important;
    width: 20px;
    height: 20px;
}

.btn-my-secondary-outline > a {
    text-decoration: none;
    color: var(--light_second_color) !important;
    font-family: 'Roboto Mono', monospace;
}

.btn-my-secondary-primary > a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
}



/* ------------------------- MAGENTA COLOR ------------------------- */
/* TEXT COLOR */
.text-magenta { color: var(--lightmagenta); }

/* BACKGROUND COLOR */
.bg-magenta { background-color: var(--lightmagenta) !important; }

/* BUTTON */
.btn-magenta-primary,
.btn-magenta-primary:hover {
    background-color: var(--lightmagenta) !important;
    color: black !important;
    border: 2px solid rgb(0, 0, 0) !important;
    border-radius: 10px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-magenta-primary:hover {
    border-radius: 0px;
    box-shadow:  2px 2px 0px #bd4dd1, -2px -2px 0px #ff6fff;
}

.btn-magenta-outline,
.btn-magenta-outline:hover {
    background-color: black;
    color: var(--lightmagenta) !important;
    border: 2px solid var(--lightmagenta) !important;
    border-radius: 16px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-magenta-outline:hover {
    border-radius: 0px !important;
    box-shadow:  4px 4px 0px #bd4dd1, -4px -4px 0px #ff6fff !important;
}

.btn-magenta-outline > a {
    text-decoration: none;
    color: var(--lightmagenta) !important;
    font-family: 'Roboto Mono', monospace;
}

.btn-magenta-primary > a {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Mono', monospace;
}



.main-section { height: 100%; }
@media all and (min-width: 1250px) { .main-section { height: 100vh; } }
.main-section h1 {
    font-weight: bold;
    font-family: 'Roboto Mono', monospace;
    color:  #e75eff;
}

.h2 { font-size: 1.5em; font-weight: bolder; }
.h4 { font-size: 1em; font-weight: bolder; }
.h5 { font-size: 0.83em; }
.h6 { font-size: 0.75em; }


.bg-sugar-lollipop {
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    /*background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);*/
}
.text-sugar-lollipop {
    background: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.border-sugar-lollipop {
    border: 2px dashed var(--lightyellow)!important;
    background: 
        linear-gradient(var(--lightyellow), var(--lightyellow)) padding-box,
        linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%) border-box;
    border-radius: 20px;
}

.btn-sugar-lollipop,
.btn-sugar-lollipop:hover {
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    color: white !important;
    border: 2px solid #D41872 !important;
    border-radius: 10px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-sugar-lollipop:hover {
    background-image: linear-gradient(-225deg, #a64cb4 0%, #e02e84 52%, #ff3485 100%);
}