.card-container {
    position: relative;
    width: 50%;
}

.card-image {
    display: block;
    width: 100%;
    height: auto;
}

.card-overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.3); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    opacity: 1;
}

.section-frame {
    padding: 5%;
    border: 2px dashed var(--lightyellow)!important;
    background: 
        linear-gradient(var(--lightyellow), var(--lightyellow)) padding-box,
        linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%) border-box;
    border-radius: 20px;
}
